*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
  }

.bod{
    
    background: url('img/body.jpg') center center/cover no-repeat;

    width: 100%;
    height:100vh;
}

header{
    z-index: 100;
    width: 100%;
    height: 100px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

a{
    
    text-decoration:  none;
    color: wheat;
}
ul{
    /* height: 100%;
    transform: translateY(50%); */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
ul li{
    align-items: center;
    text-align: center;
font-size: 20px;
height: 100%;
width:150px;
}

.registr{

    margin: 0 auto;
    width: 60%;
    background-color: rgba(182, 177, 180, 0.8);
}
.form_reg {
    display: flex;
    flex-direction: column;
}

.form_reg label{
    margin: 0 auto;
       font-size: 20px;
    }
.form_reg input{
margin: 30px auto;
    width: 50%;
    height: 45px;
}
.form_reg .subm{
   display: flex;
   justify-content: space-around;
    }

.inclid{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 60%;
    background-color: rgba(182, 177, 180, 0.8);
    }
 .includ{

    display: flex;
    justify-content: space-around  
    }

.button{
    width: 30%;
    font-size: 18px
}
   
.down_fi{
    display: flex;
    /* width: 350px;
    height: 100%; */
}
.img_sec{
width: 1170px;
height: 100%;
/* min-height: calc(100%-200); */
margin: 0 auto;
background-color: rgba(182, 177, 180, 0.5);
display: flex;
 flex-wrap: wrap; 
 min-height: 820px;
}
.box{
    display: flex;
flex-direction: column;
margin-bottom: 40px;
margin-right: 78px;
max-width: 234px;
max-height:300px;

}
.img_sec_user{
max-width: 234px;
max-height:300px;

}
.box:nth-child(4n) {
    margin-right: 0;
    }
    
.ninja{
    display: none;
}
.del_but{
   width: 234px; 
}
.file_push{
    display: none;
}
 .file_lable{
    background-color: rgba(182, 177, 180, 0.5);
    font-family: monospace;
    height: 50px;
    width: 100px;

border-radius: 5px;
font-size: 20px;
display: flex;
flex-direction: row;
justify-content: center;

}
.down_sub{
    background-color: rgba(182, 177, 180, 0.5);
    font-family:  monospace;
    font-size: 20px;
    text-align: center;
    align-items: center;
outline: none;
border: none;
border-radius: 5px;
height: 50px;
width: 100px;

}

.user{
    /* background-color: rgba(18, 157, 221, 0.9); */
    background:url('img/gory_ozero.jpg') center center/cover no-repeat;
}
.head{
    background-color: rgba(182, 177, 180, 0.5);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.pagen{
    background-color: rgba(182, 177, 180, 0.5);
    margin:0 auto;
    font-size: 26px;
    color: rgb(51, 53, 55);
    width: 1170px;
    text-align: center;
}
